@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-hover {
    @apply hover:text-gray-300 transition duration-300 cursor-pointer;
  }

  html {
    font-family: 'Montserrat', sans-serif;
  }

  .slider {
    height: 350px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

  .slide-track {
    display: flex;
    width: calc(450px * 12);
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 6));
      -webkit-transform: translateX(calc(-250px * 6));
      -moz-transform: translateX(calc(-250px * 6));
      -ms-transform: translateX(calc(-250px * 6));
      -o-transform: translateX(calc(-250px * 6));
    }
  }

  .slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
  }
}
